
.nav-bar {
    background-color: #F0EEED;
    height: 45px;
    padding: 1px;
}

.path-bar ul {
    display: flex;
    list-style: none;
    font-size: 14;
    margin-left: 125px;
    position: absolute;
    letter-spacing: 0.05em;

}

.path-bar ul li a {
    text-decoration: none;
    color: #000;
}

.actual-page {
    color: #FF4F4F !important;
}

.produto {
    display: flex;
    flex-direction: row;
}

.produto-escolha {
    margin-left: 160px;
    margin-right: 94px;
    margin-top: 125px;
    gap: 10px;
}

.produto-escolha-img {
    width: 180px;
}

.produto-img {
    align-self: flex-start;
    margin-right: 94px;
    margin-top: 158px;
}

.produto-infos h2 {
    color: #7A7171;
    font-style: italic;
    font-weight: 900;
    font-size: 13px;
    margin-right: 160px;
    margin-top: -35px;
}

.produto-infos button {
    border: none;
}

.produto-infos button:hover {
    background-color: #FF4F4F;
    border: none;
}

.produto-infos {
    margin-right: 160px;
    margin-top: 173px;
}

.sobre-produto {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    height: 636px;
    left: calc(50% - 1728px/2);
    top: 1080px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.19) 0%, rgba(231, 231, 231, 0.1) 100%);
}

.produto-espec {
    margin-left: 160px;   
}

.produto-espec h3 {
    margin-left: 264px;
}

.descricao {
    width: 629px;
    left: calc(50% - 629px/2 - 276.5px);
}

.produto-descricao-img {
    left: 783px;
    top: 1017px;
}

.produto-avaliacoes {
    border-top: 1px solid #000000;
    display: flex;
   justify-content: space-evenly;
}

.avaliacoes{
    margin-left: 703px;
    margin-right: 255px;
    width: 770px;
    height: 77px;
    left: calc(50% - 770px/2 + 224px);
    
}

footer {
    margin-top: 500px;
}